.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon
Thumbs.db
ehthumbs.db
__pycache__/
main
server
collector
websocket
venv/
context/
context*
sqlite.db
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
notes/